{% extends 'base.html.twig' %}

{% block title %}Gestion de statistique{% endblock %}

{% block body %}

{% if app.user %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <div class="row">
    <div class="col-md-12">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Region</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">API Regions</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Retrouvez ici </li>
              <li>la liste</li>
              <li>des régions</li>
              <li>par une API</li>
            </ul>
            <a class="btn btn-lg btn-block btn-primary" href="{{path('api')}}" role="button">Voir</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Visiteurs</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">Visiteurs/Régions</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Retrouvez ici</li>
              <li>tous les</li>
              <li>visiteurs par</li>
              <li>régions</li>
            </ul>
            <a class="btn btn-lg btn-block btn-primary" href="{{path('liste_region')}}" role="button">Voir</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Stat</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Statistiques</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Retrouvez ici</li>
              <li>Toutes les</li>
              <li>Statistiques</li>
              <li>!!!</li>
            </ul>
            <a class="btn btn-lg btn-block btn-primary" href="{{path('lien_stat')}}" role="button">Voir</a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
          <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="875" height="369" style="display: block; width: 875px; height: 369px;">tunnnna </canvas>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">Tuna, Victor, Sonia et FRAT Chef d'équipe 2017-2019</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>

{% else %}
<center><h1 style="padding-top:315px; font-size:115px;">Connectez-vous</h1></center>
{% endif %}

{% endblock %}
