{% extends 'base.html.twig' %}

{% block title %}Gestion de statistique | Nombre de visiteur par région{% endblock %}

{% block body %}

<div class="container">
        <div class="row" style="padding-top: 10px;">
            {% for delegue in delegues %}
                <div class="col-md-4">
                    <div class="card mb-2">
                        <h3 class="card-header">{{ delegue.regNom }} {{ delegue.regCode }} </h3>
                        <div class="card-body">
                        <p>Il y a actuellement {{delegue.nbDelegue}} visiteurs dans cette région</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

{% endblock %}