{% extends 'base.html.twig' %}

{% block title %}Gestion de statistique | Test d'API{% endblock %}

{% block body %}

<div class="container">
        <div class="row" style="padding-top: 10px;">
            {% for region in regions %}
                <div class="col-md-4">
                    <div class="card mb-2">
                        <h3 class="card-header">{{ region.RegNom }} {{ region.RegCode }} </h3>
                        <div class="card-body">
                        <p>Il y a actuellement {{ region.travaillers|length }} visiteurs venant de cette région</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

{% endblock %}