{% extends 'base.html.twig' %}

{% block titre 'Nombre de visiteurs par region' %}

{% block body %}
<div class='container'>
    <h1>Liste des visiteurs qui travaillent par région</h1>
    <p>Choisir une région : </p>
    {{ form_start(form)}}
        <div class="form-group">
            {{form_widget(form)}}
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
    <table>
        <tr>
            <td>Visiteur Id</td>
            <td>Département Id</td>
            <td>Secteur Id</td>
            <td>Visiteur Matricule</td>
            <td>Visteur Nom</td>
            <td>Visiteur Adresse</td>
            <td>Visiteur Code Postal</td>
            <td>Visiteur Ville</td>
            <td>Visiteur Date Embauche</td>
        </tr>
        {% for levisiteur in listevisites %}
        <tr>
            <td>{{levisiteur.id}}<td>
        </tr>
        {% endfor %}
    </table>


</div>

{% endblock %}