{% extends 'base.html.twig' %}

{% block title %}Gestion de statistique | Liste des visiteurs et délégués par region{% endblock %}


{% block body %}

    <div class="container">
        <div class="row" style="padding-top: 10px;">
{# region est définit dans le statController #}
{% for region in regions  %}
        
            <div class="col-md-4">
                <div class="card mb-2">
                    
                    <h3 class="card-header">{{ region.RegNom }} {{ region.RegCode }} </h3>
                    <div class="card-body">
                    {% for delegue in region.travaillers %}
                        {% if delegue.traRole == "Délégué" %}
                            <p>{{ delegue.traVis.visNom }} {{ delegue.traRole }} </p>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                
            </div>
        
{% endfor %}
        </div>
    </div>

{% endblock %}
