<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
<<<<<<< HEAD
        <title>{% block title %}viktor le beaugosse !{% endblock %}</title>
=======
        <title>{% block title %}testsbest!{% endblock %}</title>
>>>>>>> f6f851466109d3769cda51cb54c8c9cb4812571b
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
